* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.379);
}

.item {
    width: 20px;
}

#btnNumberSquares {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: transparent;
    font-weight: bold;
}